<div class="jumbotron mt-4 container">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, numquam? Incidunt tempore neque minima numquam suscipit voluptatibus, eius eum fuga et, consequatur minus quia officia libero nesciunt voluptas impedit sunt!</p>
    <hr class="my-4">
    <a href="https://getbootstrap.com/" class="btn btn-primary btn-lg">Ingresa</a>
</div>
