<div class="row">
    <div class="cold-md-4 mx-auto">
        <div class="card">
            <div class="card-header">
                <h2>Registrate</h2>
            </div>
            <div class="card-body">
                <form action="/users/signup" method="POST">
                    <div class="form-group">
                        <input type="name" name="name" class="form-group" placeholder="Nombre">
                    </div>
                    <div class="formm-group">
                        <input type="lastname" name="lastname" class="form-group" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <input type="email" name="email" class="form-group" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-group" placeholder="Contraseña">
                    </div>
                    <div class="form-group">
                        <input type="confirm_password" name="confirm_password" class="form-group" placeholder="Confirmar contraseña">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-block" type="submit" >
                            Confirmar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>